*.*
_work/tools/help/classes

!.gitignore
!readme.md

!Data/ModVDF/DummyVDF.mod
!system/aTestMod.ini
!system/picardia2.ico
!system/aa_reparse.sh

!_work/Data/Worlds/MYMOD/**
!_work/Data/Meshes/MyMod/**
!_work/Data/Textures/MyMod/**
!_work/Data/Anims/MyMod/**

!_work/Data/Scripts/Content/Gothic.src
!_work/Data/Scripts/Content/MyMod/**

!_work/Data/Scripts/System/Menu.src
!_work/Data/Scripts/System/MyMod/**




# unruly textures which don't recompile on their own

!_work/Data/Textures/_compiled/Hum_Body_Naked_V13_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V14_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V15_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V16_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V17_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V18_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V19_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Body_Naked_V20_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Head_V163_C0-C.TEX
!_work/Data/Textures/_compiled/Hum_Head_V164_C0-C.TEX
