*.*
_work/tools/help/classes
wine_prefix

!.gitignore
!readme.md

!system/aTestMod.ini
!system/picardia2.ico

!_work/Data/Worlds/MYMOD/*.ZEN
!_work/Data/Meshes/MyMod/**

!_work/Data/Scripts/Content/Gothic.src
!_work/Data/Scripts/Content/MyMod/**

!_work/Data/Scripts/System/Menu.src
!_work/Data/Scripts/System/MyMod/**
