*.*
_work/tools/help/classes

!.gitignore
!readme.md

!Data/ModVDF/DummyVDF.mod
!system/aTestMod.ini
!system/picardia2.ico
!system/aa_reparse.sh

!_work/Data/Worlds/MYMOD/**
!_work/Data/Meshes/MyMod/**
!_work/Data/Textures/MyMod/**
!_work/Data/Anims/MyMod/**

!_work/Data/Scripts/Content/Gothic.src
!_work/Data/Scripts/Content/MyMod/**

!_work/Data/Scripts/System/Menu.src
!_work/Data/Scripts/System/MyMod/**
